.footer {
    background-color: #3d609b;
	width: 100%;
	text-align: center;
	padding-bottom: 30px;
    padding-top: 20px;
    color: white;
	h4 {
		margin-bottom: 25px;
		margin-top: 20px;
		font-weight: 600;
		font-family: Lexand Deca;
	}
}
.icons {
	.bi {
		color: white;
		margin: 0 13px;
		cursor: pointer;
		padding: 18px 0;
	}
}
.last {
	a {
		text-decoration: none;
		font-family: Abel;
		color: white;
		padding: 10px 10px;

        &:hover{
            color: #f04b4c;
        }
	}
}

@media (max-width: 700px){
	.footer{
		padding: 20px;
		p{
			font-size: 12px;
		}
	}
}
